<server>
  <include location="../fatTestPorts.xml" />

  <featureManager>
    <feature>beanValidation-2.0</feature>
    <feature>componenttest-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>jpaContainer-2.2</feature>
    <feature>servlet-4.0</feature>
  </featureManager>


  <dataSource id="DefaultDataSource" jndiName="jdbc/enlisting-ds">
    <jdbcDriver libraryRef="derby"/>
   	<properties.derby.embedded databaseName="memory:testdb" createDatabase="create"/>
  </dataSource>

  <dataSource jndiName="jdbc/non-enlisting-ds" transactional="false">
    <jdbcDriver libraryRef="derby"/>
   	<properties.derby.embedded databaseName="memory:testdb" createDatabase="create"/>
  </dataSource>
  
  <library id="derby">
    <file name="${shared.resource.dir}/derby/derby.jar"/>
  </library>
  
  <library id="hibernate">
        <fileset dir="${shared.resource.dir}/jpa22_hibernate" includes="*.jar"/>
  </library>

  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/antlr4-runtime-4.13.2.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/angus-activation-2.0.2.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/antlr4-runtime-4.13.2.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/byte-buddy-1.17.5.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/classmate-1.7.0.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/hibernate-community-dialects-7.0.9.Final.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/hibernate-core-7.0.9.Final.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/hibernate-models-1.0.1.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/hibernate-scan-jandex-7.0.9.Final.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/istack-commons-runtime-4.1.2.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/jandex-3.3.0.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/jaxb-core-4.0.5.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/jaxb-runtime-4.0.5.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/jboss-logging-3.6.1.Final.jar"/>
  <javaPermission className="java.security.AllPermission" codebase="${shared.resource.dir}/jpa22_hibernate/txw2-4.0.5.jar"/>
  
</server>
